{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-md-4">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    Input:<br />
                    <div id="inputs">
                        <input class="input" type="text" id="form_input" name="form[input][]"/>
                    </div>
                    <br />
                    <button id="addInput" type="button" class="btn btn-default">Add input</button>
                    {{ form_widget(form.save) }}
                    {{ form_end(form, {'render_rest': false}) }}</div>
                <div class="col-md-8"></div>
            </div>

            {% if solutions %}
                <p class="bg-info">
                    <ul>
                        {% for solution in solutions %}
                            <li>{{ solution }}</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
            $('#addInput').on('click', function(){
                $( ".input" ).last().after('<br /><input class="input" type="text" id="form_input" name="form[input][]"/>');
            });
    });
</script>
{% endblock %}