{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-md-4">{{ form(form) }}</div>
                <div class="col-md-8"></div>
            </div>

            {% if solution %}
                <p class="bg-info">Solution: {{ solution }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}